@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;300;400;500;600&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600&family=Raleway:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200;1,400;1,600&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

html,
body {
  font-family: "Raleway", sans-serif;
}

body {
  padding-bottom: 120px;
}

.wrapper {
  max-width: 992px;
  margin: auto;
  padding: 2em 1em;
}

.header-wrapper {
  background-color: #fafafb;
  color: #181818;
  display: flex;
  align-items: center;
}
.header-wrapper h1.logo {
  font-size: 1.5em;
  padding: 1em 1.5em;
  font-weight: bold;
  font-style: italic;
  color: #181818;
}
.header-wrapper .navi-wrap {
  display: flex;
  margin-left: auto;
  font-weight: bold;
}
.header-wrapper .navi-wrap .navi {
  padding: 1em 1.5em;
  color: #363636;
}
.header-wrapper .navi-wrap .navi.ex {
  background-color: #fafafb;
}
.header-wrapper .navi-wrap .navi.ex:hover {
  background-color: #dfcfbe;
  color: #5771e4;
}
.header-wrapper .navi-wrap .navi:hover {
  background-color: #dfcfbe;
  color: #5771e4;
}

.header-wrapper a:link {
  text-decoration: none;
  color: inherit;
}
.header-wrapper a:visited {
  text-decoration: none;
  color: inherit;
}
.header-wrapper a:hover {
  text-decoration: none;
  color: inherit;
}
.header-wrapper a:active {
  text-decoration: none;
  color: inherit;
}

.header-wrapper .lang-wrap {
  margin: 0 1.5em;
  font-size: 0.875em;
}
.header-wrapper .lang-wrap .navi {
  opacity: 0.5;
}
.header-wrapper .lang-wrap .navi.active {
  opacity: 0.85;
}
.header-wrapper .lang-wrap span {
  opacity: 0.5;
}

.header-wrapper .bt-navi {
  position: relative;
  cursor: pointer;
}
.header-wrapper .bt-navi .navi-sub {
  position: absolute;
  width: 100%;
  background-color: #863b61;
  left: 0;
  top: 3em;
  display: none;
}
.header-wrapper .bt-navi .navi-sub .sub {
  width: 100%;
  display: block;
  padding: 1em;
  color: #f9f9f9;
}
.header-wrapper .bt-navi .navi-sub .sub:hover {
  background-color: #a34a77;
}

.title-wrapper {
  padding: 2em;
  background-color: #efefef;
}
.title-wrapper .title-wrap {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.title-wrapper .desc-wrap {
  font-size: 1.25em;
  color: #555;
  margin-bottom: 0.75em;
}
.title-wrapper .btn-wrap {
  padding-top: 1em;
  border-top: 1px solid #ccc;
}

.title-bar {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.title-bar .bullet {
  display: inline-block;
  width: 4px;
  height: 12px;
  background-color: mediumaquamarine;
  margin-right: 8px;
}
